
/* 2導覽列 */
body{
    background-color: black;

    display: flex;
    flex-direction: column;
}


nav{
    height:70px;
}
.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
    
}

li a {
    color:black!important;
    font-size:20px;
   
}
li a:hover{
    color:indigo !important;
    background-color: lightgray;
    
}
.navbar-toggler{
    background-color: darkgrey;
}

.nav-link {
    padding:20px;
    
}

@media (max-width:600px){
    nav{
        height:auto;
    }
    .nav-link {
        padding:10px;
    }
}





/* 4幻燈片  */
body{
    background-color: honeydew;
}

.slide-pic{
    width:100%;
    height:350px;
    padding-top: 80px ;
    margin: 0 auto;
}

.carousel-item h2{
    color:white;
    background: rgb(16,43,28);
    background: linear-gradient(90deg, rgba(16,43,28,0) 25%, rgba(50,53,52,0.798739564185049) 33%, rgba(53,54,53,0.809943960494354) 70%, rgba(54,54,54,0) 80%); 
}
 /* 更改圖片大小 */
.carousel-item img {
    width: 100vw;
    height: 55vh;
    object-fit: cover;
    object-position: 30%;
    margin: 0 auto;
}

/* RWD */

@media (max-width:600px){
    .slide-pic{
        width:100%;
        height:250px;
    }
    

}


/* 3介紹卡 */
.profile-img{
    width: 300px;
    height:300px;
    /* clip-path:circle(80%); */

    /* 置中 */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;

    margin-top:-140px;
}

.card{
    background-color: rgb(246, 246, 246);
    height:600px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;


    margin:10px;
}

.banner-image{

    background-image: url(images/6.jpg);
    height:200px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.btn{
     /* width:100%;
    border:none;

    font-size:20px;
    color:white; */
    background-color:black;
    /* padding:20px; */

    /* 移到下方 */
    /* position:absolute;
    bottom:0;
    left:0; */
}

/* 1三欄位 */
.container-intro {
    background: rgb(83,83,91);
    background: linear-gradient(90deg, rgba(83,83,91,1) 0%, rgba(51,50,66,1) 0%, rgba(6,7,8,1) 96%);
    
    padding: 50px;
    color: white;
    font-size: 20px;
    
}



/* 8分頁 */


.container-fluid {
    background-color: white;
}

.tab-content img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid brown;
    border-radius: 50%; */
}

h1 {
    text-align: center;
    padding: 60px;
    color: black;
}

.nav-tabs .nav-link.active {
    color: black;
    background-color: lightgray;
    border-color: rgb(2, 2, 2);
    border-bottom: 0px;
}

.nav-link {
    font-size: 20px;
    color: black;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.tab-content h3 {
    text-align: center;
    padding: 30px;
    color: black;
}


/* 電子信箱 */

.newsletter{
    background-color: black;
    color: white;
    margin-top: 750px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.newsletter p {
    margin-bottom: 40px;
}

.newsletter input,.newsletter button{
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}

.newsletter input{
    width: 200px;
    margin-right: 15px;
}

.newsletter button{
    width: 80px;
    margin: 15px;
    cursor: pointer;
}


.newsletter1 {
    width: 200px;
    height: 150px;
}


input::placeholder{
    color: gray;
}

input:focus{
    outline: none;
    border-color: darkgray;
    }



/* footer */
footer{
    background-color: black;
    color: darkgray;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}



/* 登入 */
  
 
.row {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10%;
   justify-content: center;

}

.shop-menu a {
   font-size: 15px;
   text-decoration: none;
   padding: 8px 16px;
   border: 1px solid;
   border-radius: 10px;
}

.shop-menu a:hover, .shop-menu .active a{
    color: #fff;
    background: gainsboro;
}
 
/* 商品start */
.card {
  height: 100%;
}


/* 品牌館start */





/* 購物車start */
.product-thumbnail img{
    width: 20vw;
    height: 25vh;
    object-fit: cover;
    object-position: 50%;
    
}


/* 產品輪播start*/

#slideshow {
    width: 35vw;
    height: 35vh;
}

.carousel-inner  img {
   
    width: 25vw;
    height: 60vh;
    object-fit: cover;
    object-position: 50%;
    margin: 0 auto;
    
   
    
}

.carousel-control-prev-icon{
    background-color: black;
    opacity: 50%;

}
.carousel-control-next-icon{
    background-color: black;
    opacity: 50%;

}

.carousel-indicators{
    background-color: black;
    opacity: 50%;
}
.carousel-item{
    text-align: center;
}

